<h1>Restaurants</h1>

<%= link_to 'Add a restaurant', new_restaurant_path, class: "btn btn-primary" %>

<% @restaurants.each do |restaurant| %>

  <h4><%= link_to restaurant.name.capitalize, restaurant_path(restaurant) %></h4>
  <%# <h3><%= "â­ * #{restaurant.rating}" %>
  <h5><%= restaurant.category.capitalize %></h5>
  <p><%= restaurant.address %></p>

<% end %>
